<form method="post" action="{{ path('app_backend_mission_delete', {'id': mission.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer la mission?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mission.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
