<form method="post" action="{{ path('app_backend_actualite_delete', {'id': actualite.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette actualité?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actualite.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
