{% extends 'base.html.twig' %}

{% block title %}New Instance{% endblock %}

{% block body %}
    <h1>Create new Instance</h1>

    {{ include('backend_instance/_form.html.twig') }}

    <a href="{{ path('app_backend_instance_index') }}">back to list</a>
{% endblock %}
