<li><i class="bi bi-geo-alt-fill"></i> {{ contact ? contact.adresse : "Abidjan, Côte d'Ivoire" }}</li>
<li><i class="bi bi-envelope-fill"></i> {{ contact ? contact.bp : "01 BP 1269 ABJ 01"}} </li>
<li><i class="bi bi-telephone-fill"></i> +225 27 21 237 927</li>
<li><i class="bi bi-phone-fill"></i> {{ contact ? contact.phone : "+225 05 05 862 307 / 01 42 841 294"}} </li>
<li><i class="bi bi-envelope-at-fill"></i> {{ contact ? contact.email : '<a href="mailto:faustin.kouadio@sir.ci">faustin.kouadio@sir.ci</a>'}} </li>